- form_for @project, :url=> projects_path do |p|
  %p
    %label{ :for => "project_name" }= _("New project name:")
    %br/
    = p.text_field :name
    = err_for(@project, :name)
  %p
    %label{ :for => "project_type" }= _("Project type:")
    %br/
    = select "project", "type_id", [["private", 1], ["public", 2], ["opensource", 3]]
    = err_for(@project, :type_id)
  = p.submit _("create")
  %br/
  =link_to _("back"), main_path