- remote_form_for @milestone, :url=> project_milestone_path(@project, @milestone), :method=>:put, :before => "Element.show('spinner')", :complete=> "Element.hide('spinner')" do |f|
  %p
    %label=_("Title: ")
    %br/
    = f.text_field :name
    = err_for(@milestone, :name)
  %p
    %label=_("Description: ")
    %br/
    =f.text_area :description, :size=> "40x15"
    = err_for(@milestone, :description)
  %p
    %label=_("Due date: ")
    = date_select(:end_date, "", :order=>[:day,:month,:year])
    = err_for(@milestone, :due_date)
  %p
    = f.submit _("save")
    %br/
    = remote_link _("back"), :url=> project_milestone_path(@project, @milestone), :method=> :get