- remote_form_for :comment, :url => project_ticket_comments_path(@project, @ticket), :html => { :method => :post, :class => "edit_post", :id => "edit_post_45" } do |f|
  %p
    %label=_('Title')
    %br/
    = f.text_field :title
  %p
    %label=_('Comment')
    %br/
    = f.text_area :comment, :size=>"40x15"
  #ticket_side
    %p
      %label=_("State")
      %br/
      = select :ticket, :state, [[_("New"), Ticket::STATE_NEW],[_("Open"), Ticket::STATE_OPEN],[_("Resolved"), Ticket::STATE_RESOLVED],[_("Hold"), Ticket::STATE_HOLD],[_("Invalid"), Ticket::STATE_INVALID],[_("Work for me"), Ticket::STATE_WORK_FOR_ME]]
      %br/
      %label=_("Who's responsible?")
      %br/
      = select :ticket, :responsible_id, @project.users.map {|u| [u.name.blank? ? u.email : u.name, u.id]}, {:include_blank => true}
      %br/
      %label=_("Milestone")
      %br/
      = select :ticket, :milestone, @project.milestones.map {|p| [p.name, p.id]}, {:include_blank => true}
  %p
    = f.submit _("create")
  %br/
= link_to_remote _("cancel"), :url=> project_ticket_comments_path(@project, @ticket, :close=>1), :method=>:get