%br/
%div{:id => "back"}
%script
  histories.ajax_back(cookies.get('active_page'))
- remote_form_for @ticket, :url=> project_ticket_path(@project, @ticket), :method=>:put, :before => "Element.show('spinner')", :complete=> "Element.hide('spinner')", :html=>{:multipart=> true} do |p|
  #ticket_content
    %p
      %label{ :for => "ticket_title" }= _("Title:")
      %br/
      = p.text_field :title, :style=>"width: 400px;"
      = err_for(@ticket, :title)
    %p
      %label{ :for => "ticket_description" }= _("Description:")
      %br/
      = p.text_area :description, :size=> "55x20"
      = err_for(@ticket, :description)
    %p
      #tags
        %label=_("Add Tags")
        = text_field_tag "ticket_tags"
        %div{:class=>"auto_complete", :id=>"ticket_tags_auto_complete"}
        = auto_complete_field :ticket_tags, :url=> auto_complete_for_tags_project_path(@project), :after_update_element=>"function(){$('ticket_tags').value = $('ticket_tags').value.replace(/^\s*|\s*$/g,'');}", :tokens => ',', :method=>:get
        %br/
        %span{:class=>"tips"}=_("Comma to separate tags (python programming, user interface, graceful shutdown)")
    %br/
    = p.submit _("update")
  #ticket_settings
    = link_to_function _("Set priority"), :onclick=>"$('priority').toggle()"
    #priority{:style=>"display:none"}
      %div{:style=>"writing-mode: tb-rl; float:left;width: 60px; height: 113px; margin-bottom:10px;"}
        %em{:style=> "float:left; margin-top:100px; margin-right:70px"}=_("urgency")
        %div{:class=> "indicator_revert"}
      =priority_block(@ticket.urgency, @ticket.severity)
      %div{:style=>"width: 113px; height: 24px; margin-left:60px;margin-bottom:10px;"}
        %div{:class=> "indicator", :style=>"width: 113px; height: 10px"}
        %em{:style=> "margin-top:20px;"}=_("severity")
      =hidden_field_tag "ticket[urgency]", @ticket.urgency
      =hidden_field_tag "ticket[severity]", @ticket.severity
      = err_for(@ticket, :urgency)
    %p
      %label{ :for => "ticket_milestone"}= _("Milestone:")
      %br/
      - unless @project.milestones.empty?
        = select :ticket, :milestone_id, @project.milestones.map {|m| [m.name, m.id]}, { :prompt => "--none--" }
        = err_for(@ticket, :milestone_id)
      - else
        = _("Your project doesn't have milestones")
    %p
      %label{ :for => "ticket_responable_user_id"}= _("Responsible user:")
      %br/
      = select :ticket, :responsible_id, @project.users.map {|u| [u.email, u.id]}, { :prompt => "--none--" }
      = err_for(@ticket, :responsible_id)
    %table
      %th{:colspan=>"2"}=_("Notification")
      %tr
        %td
          %label=_("All users: ")
        %td
          = check_box_tag "all", 0
      - @project.users.each do |user|
        - unless user.id == @ticket.created_user_id
          %tr
            %td
              %label= user.name.blank? ? user.email : user.name
            %td
              = check_box_tag "user_#{user.id}", user.id
    = file_column_field('ticket.attachemts', 'file' )